# Numerous always-ignore extensions  
*.bak  
*.patch  
*.diff  
*.err  

# temp file for git conflict merging  
*.orig  
*.log  
*.rej  
*.swo  
*.swp  
*.zip  
*.vi  
*~  
*.sass-cache  
*.tmp.html  
*.dump  

# Folders to ignore    
.idea 
node_modules/ 
dist/
unpackage/

# Other files and folders
.settings/
.hbuilderx/

# Executables
*.swf
*.air
*.ipa
*.apk


